.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 300px;
  }

  .main-title {
    font-size: 150px;
    color: white;
    margin-bottom: 15px;
  }

  .main-subtitle {
    font-size: 50px;
    color: white;      
}

  .banner-content .slogan {
    margin-top: 100px;
    color: white;
    font-size: 40px;
    font-weight: lighter;
    word-spacing: 12px;
    letter-spacing: 12px;
  }

.banner-content .main-button {
    margin-top: 90px;
    background-color: rgb(128, 219, 169);
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner-content .main-button::before {
  background-color: white;
}

