.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 236px;
  }

  .banner-content .main-title {
    font-size: 150px;
    color: white;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }

  .banner-content .main-subtitle {
    font-size: 50px;
    color: white;      
}

  .banner-content .slogan {
    margin-top: 60px;
    color: white;
    font-size: 40px;
    font-weight: lighter;
  }

.banner-content .main-button {
    margin-top: 50px;
    background-color: rgb(128, 219, 169);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner-content .main-button::before {
  background-color: white;
}


.banner-section .quote {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: end;
  width: 300px;
  left: 10vw;
  top: 200px;
  color: white;
}

.banner-section .quote .main-subtitle {
  font-size: 40px;
  margin-bottom: 20px;

}

.banner-section .quote p {
  font-size: 25px;
  
}