.content-atendimento {
    display: flex;
    gap: 20px;
}

.content-atendimento .atendimento-text {
    width: 1200px;
    color: white;
    font-size: 28px;
    line-height: 32px;
    margin-top: 50px;
}

.content-atendimento .atendimento-text ul {
    list-style: circle;
    list-style-position: inside;
    font-family: 'Oswald', sans-serif;
}

.content-atendimento .atendimento-text ul li {
    margin-bottom: 15px;
}

.content-atendimento .atendimento-text p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.main-section.-atendimento .atendimento-online {
    height: 400px;
    width: 80vw;
    background-size: cover;
    background-image: url(../../assets/img/sala\ de\ casa.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section.-atendimento .atendimento-online .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}

.content-atendimento .atendimento-text .main-button {
    background-color: white;
    color: rgb(128, 219, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    line-height: 60px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.content-atendimento .atendimento-text .main-button::before {
    background-color: rgb(128, 219, 169);
  }
