.main-menu {
    display: flex;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.966);
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    width: 80%;
    border-radius: 15px;
    backdrop-filter: blur(7px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.103);
}

.main-button {
    position: relative;
    height: 55px;
    line-height: 55px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 200px;
    overflow: hidden;
    color: rgb(41, 41, 41);
}

.main-button:hover {
    color: rgb(59, 59, 59);
}

.main-button:before {
    content: "";
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    background: rgb(128, 219, 169);
    transition: transform 0.25s ease-out;
  }
  
  .main-button:hover:before {
    transform: scaleX(1);
    width: 100%;
    transform-origin: center;
  }