/* Container principal */
.service-card {
    position: relative;
    width: 416px;
    height: 508px;
    background-color: #6868684d;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.507);
  }
  
  /* Bolinha */
  .service-card .card-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px 40px;
    background-color: rgb(128, 219, 169); 
    color: white;
    z-index: 3;
  }

  .service-card .card-button:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(128, 219, 169);
  }
  
  /* Conteúdo da card */
  .service-card .content {
    display: flex;
    position: relative;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .service-card .content .title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: white;
    height: 100px;
    line-height: 85px;
    box-sizing: border-box;
    padding-bottom: 11px;
    
  }

  .service-card .content .title::after {
    position: absolute;
    top: 120px;
    left: 0;
    content: "";
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.507);
    height: 0;
    width: 100%;
  }
  
  .service-card .cards {
    position: relative;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: end;
    bottom: 0;
  }