.service-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.service-carousel .track {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  /* Impede que os itens quebrem para uma nova linha */
  transition: transform 0.5s ease-in-out;
  margin-bottom: 50px;
}

.service-carousel .service-card {
  flex: 0 0 auto;
  /* Garante que cada card mantenha seu tamanho */
  width: 410px;
  /* Ajuste conforme o tamanho desejado */
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.carousel-indicators .indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
  background-color: rgb(128, 219, 169);
  /* Cor ativa */
}


/*BANNER*/

.banner-carousel {
  width: 92%;
  left: 4%;
  overflow: hidden;
  position: absolute;
  bottom: -400px;
}

.banner-carousel .track {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  /* Impede que os itens quebrem para uma nova linha */
  transition: transform 0.5s ease-in-out;
  margin-bottom: 50px;
}

.banner-carousel .service-card {
  flex: 0 0 auto;
  /* Garante que cada card mantenha seu tamanho */
  width: 410px;
  /* Ajuste conforme o tamanho desejado */
}

.banner-carousel .service-card.-depressão {
  background-image: url(../../assets/img/depressao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px 0;
}

.banner-carousel .service-card.-ansiedade {
  background-image: url(../../assets/img/ansiedade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-carousel .service-card.-panico {
  background-image: url(../../assets/img/panico.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-carousel .service-card.-luto {
  background-image: url(../../assets/img/saudade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-carousel .service-card.-vicios {
  background-image: url(../../assets/img/vicios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}